DATABASE_URL="file:./prisma/dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="cambia-este-secreto-en-produccion"
GMAIL_USER=""
GMAIL_APP_PASSWORD=""
OWNER_EMAIL="admin@arcadalab.cl"
OWNER_PASSWORD="Admin123!"
